@use 'variables' as v;
@use 'sass:color';
@use 'mixins' as m;
@use 'placeholders';

.header {
	height: 3.25rem;
	position: relative;
	background-color: color.adjust(v.$color_white, $alpha: -0.88);
	border: {
		bottom: {
			width: 1px;
			style: solid;
			color: v.$color_white;
		}
	}
}
.nav-header {
	height: 3.25rem;
	// display: flex;
	// justify-content: start;
	// align-items: center;
	@include m.d-flex(start, center);
	&__title {
		height: 3.25rem;
		width: 250px;
		border-right: 2px solid v.$color_white;
		@include m.d-flex(center, center);
	}
	&__title-link {
		font-weight: 500;
		font-size: 1.56rem;
		line-height: 1.2;
		color: v.$color_white;
		transition: color 0.52s ease;
		@extend %hover-grey;
	}
	&__title-link span {
		font-weight: 700;
	}
	&__links {
		flex-grow: 1;
		@media (max-width: 768px) {
			display: none;
		}
	}
}
.list {
	@include m.d-flex(start, center, nowrap, row, min(70px, 2vw));
	padding-inline-start: min(70px, 2vw);
	&__item-link {
		font-size: 1.375rem;
		line-height: 1.36;
		color: v.$color_white;
		white-space: nowrap;
		transition: color 0.52s ease;
		@extend %hover-green;
	}
}
.covid {
	height: 100%;
	@include m.d-flex(center, center);
	padding-inline: 2rem;
	border: {
		left: 1px solid v.$color_white;
		right: 1px solid v.$color_white;
	}
	@media (max-width: 768px) {
		display: none;
	}
	&__link {
		font-weight: 700;
		color: v.$color_white;
		line-height: 1.36;
		white-space: nowrap;
		transition: color 0.52s ease;
		@extend %hover-green;
	}
}
.globe {
	width: 5rem;
	@include m.d-flex(start, center);
	@media (max-width: 768px) {
		display: none;
	}
	&__link {
		transition: color 0.52s ease;
		@extend %hover-green-icon;
	}
}
// .mobile-navigation {
// 	&__toggler {
// 		display: none;
// 		&:checked + .nav {
// 			translate: 0;
// 		}
// 	}
// 	&__close {
// 		position: absolute;
// 		top: 12px;
// 		right: 70px;
// 		z-index: 20;
// 		transition: transform 0.61s ease;
// 		@extend %hover-green-icon;
// 	}
// }
// .nav {
// 	position: fixed;
// 	padding: 100px 70px 0;
// 	inset: 0;
// 	z-index: 100;
// 	background-color: color.adjust(v.$color_black, $alpha: -0.4);
// 	backdrop-filter: blur(7px);
// 	translate: 100% 0;
// 	transition: translate 0.5s ease;
// 	&__list {
// 		@include m.d-flex(start, start, nowrap, column, 0, 1rem);
// 	}
// 	&__link {
// 		@include m.font(2rem, 500, v.$color_white);
// 		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
// 	}
// }

.mobile-navigation {
	display: none;
	@media (max-width: 768px) {
		display: block;
	}
	&__burger {
		position: absolute;
		top: 12px;
		right: 30px;
		z-index: 10;
		transition: transform 0.61s ease;
		@extend %hover-green-icon;
	}
	&__burger-icon {
		width: 2rem;
	}
	&__toggler {
		display: none;
		&:checked ~ .mobile-navigation__menu {
			translate: 0;
		}
	}
	&__menu {
	}
	&__close {
		position: absolute;
		top: 12px;
		right: 30px;
		z-index: 120;
		transition: transform 0.61s ease;
		@extend %hover-green-icon;
	}
	&__close-icon {
		width: 2rem;
	}
}
.nav {
	position: fixed;
	padding: 100px 70px 0;
	inset: 0;
	z-index: 100;
	background-color: color.adjust(v.$color_black, $alpha: -0.4);
	backdrop-filter: blur(7px);
	translate: 100% 0;
	transition: translate 0.5s ease;
	&__list {
		@include m.d-flex(start, start, nowrap, column, 0, 1rem);
	}
	&__list-item {
	}
	&__link {
		@include m.font(2rem, 500, v.$color_grey);
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	}
}
