@mixin d-flex(
	$justify: center,
	$align-items: center,
	$wrap: nowrap,
	$direction: row,
	$column-gap: 1rem,
	$row-gap: 0
) {
	display: flex;
	justify-content: $justify;
	align-items: $align-items;
	flex-wrap: $wrap;
	flex-direction: $direction;
	column-gap: $column-gap;
	row-gap: $row-gap;
}
